
.headerBlock {
  background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 250px;
  background-size: cover;
  background-position: inherit;
  h1{
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    font-weight: bold;
    font-family: Serifiqo, sans-serif;
    color: #665f5c;
    background-color: #ffffffb0;
    letter-spacing: 3px;
  }
}
