body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'Serifiqo';
    src: url("style/fonts/Serifiqo/Serifiqo.otf");
}
@font-face {
    font-family: 'CimeroPro';
    src: url("style/fonts/CimeroPro/CimeroPro.otf");
}